<div>
  <nav>
    <a>Navigation:</a>
    <ul>
      <li><a [routerLink]="['home']">Home</a></li>
    </ul>
  </nav>
  <div>
    <div><p>=========================================</p></div>
    <router-outlet></router-outlet>
    <div><p>=========================================</p></div>
  </div>
</div>

<!--<div>-->
  <!--<app-navigation-bar></app-navigation-bar>-->
  <!--<app-tree></app-tree>-->
  <!--<app-event-displayer></app-event-displayer>-->
  <!--<app-event-workflow></app-event-workflow>-->
<!--</div>-->
