<ul *ngFor="let n of _nodes" class="list-group">
  <li class="list-group-item btn-link">
    <a href="#" style="text-decoration: none !important;display:block;width: 100%">
      <span [style.margin-left]="nodeDeep*20+'px'"></span>
      <i *ngIf="n.hasChilds" [ngClass]="{'fa-chevron-circle-down': n._expand,'fa-chevron-circle-right': !n._expand}" class="fa" aria-hidden="true" (click)="expandOrCollapse(n)"></i>
      <span  class="fa fa-user"></span>
      <small>{{n.name}}</small>
    </a>
    <div style="position: absolute;right: 2px"><span class="badge badge-default badge-pill">14</span></div>
  </li>
    <native-tree *ngIf="n.nodes && n._expand" [_nodes]="n.nodes" [nodeDeep]="nodeDeep+1"></native-tree>
</ul>
